#sharingbox-facade-content { display:none; }

.sharingbox fieldset:last-of-type {
    margin:0;
}
.sharingbox fieldset {
    margin:0 0 0.5em 0;
    border:none;
}

.sharingbox fieldset>div {
    margin:0;
}
.sharingbox form { margin:0; }

.sharingbox .sharingbox-features>div {
    display:inline-block;
    margin-right:0.5em;
}
.sharingbox iframe {
    width:100% !important;
    margin:0 -4px !important; }

ul.as-selections input { margin:0; }

.sharingbox-controls {
    display:block;
    text-align:right;
}
.sharingbox-controls input {
    margin-left:4px;
}

fieldset div.field { position:relative; }
div.field ul.wysihtml5-toolbar { display:none; }
div.field:hover ul.wysihtml5-toolbar {
    display:block;
    position:absolute;
    top:-25px;
    left:0;
    background-color:white;
}


fieldset.sharingbox-features label {
    display:inline-block;
    margin:0;
    color:transparent;
}
fieldset.sharingbox-features label.inactive { opacity:0.5; }
fieldset.sharingbox-features input[type='checkbox'] { display:none; margin:0 0 0 0.2em; }

div.tooltip { min-width:12em; }
