#sharingbox-facade-content { display:none; }

#sharingbox fieldset {
    margin:20px 0;
    border:none;
}

#sharingbox fieldset>div {
    margin:0;
}

#sharingbox .sharingbox-features>div {
    display:inline-block;
    margin-right:0.5em;
}
#sharingbox iframe {
    width:100% !important;
    margin:0 -4px !important; }

ul.as-selections input { margin:0; }

.sharingbox-controls {
    display:block;
    text-align:right;
}
.sharingbox-controls input {
    margin-left:4px;
}
