#sharingbox-facade-content { display:none; }

#sharingbox fieldset {
    margin:0;
    border:none;
}
#sharingbox fieldset>div {
    margin:0;
}
#sharingbox .sharingbox-features>div {
    display:inline-block;
    margin-right:0.5em;
}
#sharingbox iframe {
    width:100% !important;
    margin:0 -4px !important; }

ul.as-selections input { margin:0; }
