#sharingbox-facade-content { display:none; }

#sharingbox fieldset {
    margin:0;
    border:none;
}
#sharingbox fieldset>div {
    margin:0;
}
#sharingbox #fieldset-sharingbox_add_edit-features>div {
    display:inline-block;
    margin-right:0.5em;
}
#sharingbox iframe {
    width:100% !important;
    margin:0 -4px !important; }

ul.as-selections input { margin:0; }

/*
 * styles for the textarea / editable content ( iframe )   
 */ 
body.wysihtml5-editor div.embed-busy { 
	background: url('ajax-load.gif') no-repeat;
	height:20px; 
	width: 20px;
	border:0px;
}
