ul.threadview { margin:0; padding:0; }
ul.threadview > li {
    list-style:none;
    border-left:1px solid #EAEAEA; }
ul.threadview ul.threadview { margin-left:2em; }

#sharingbox,
article.element {
    background-color:white;
    border-radius:0px 20px 5px 20px;
    border:1px solid black;
    max-width:50em;
    min-width:15em;
    padding:1em 2em;
    margin:1em 0; }
article.element header h1 { margin:0 !important; font-size:1.4em; }

article.element {
    box-shadow: 5px 5px 2px #888;
}
article.element:hover {
    border-color:#0F0;
    box-shadow: 5px 5px 2px #050;
}

#content ul.element-controls { margin:0; text-align:right; }
#content ul.element-controls li { margin:0 0 0 0.5em; display:inline; }


/* ELEMENT CONTENT */
.wysihtml5-editor.sharingbox img,
article.element img { max-width:100%; }
.wysihtml5-editor.sharingbox div.embed,
article.element div.embed {
    background:grey;
    color:white;
    font-size:0.9em;
    border-radius:5px 5px;
    border:1px solid grey;
    padding:1em; }
.wysihtml5-editor.sharingbox div.embed h3,
article.element div.embed h3 { color:white; }
.wysihtml5-editor.sharingbox div.embed p,
#content article.element div.embed p { margin:0; }
article.element div.embed iframe {
    height:auto;
    width:auto;
    width:615px;
    height:346px; }
