ul.threadview li {
    list-style:none;
    margin-left:2em;
    border-left:1px solid #EAEAEA; }
#sharingbox,
article.element {
    border-radius:0px 20px 5px 20px;
    border:1px solid grey;
    max-width:50em;
    min-width:15em;
    padding:1em 2em;
    margin:1em 0; }
article.element header h1 { margin:0 !important; }


article.element img { max-width:100%; }
article.element div.embed {
    background:grey;
    color:white;
    font-size:0.9em;
    border-radius:5px 5px;
    border:1px solid grey;
    padding:1em; }
article.element div.embed h3 { color:white; }
#content article.element div.embed p { margin:0; }
article.element div.embed iframe {
    height:auto;
    width:auto;
    width:615px;
    height:346px; }

#content ul.element-controls { margin:0; text-align:right; }
#content ul.element-controls li { margin:0 0 0 0.5em; display:inline; }
